<?php

$finder = PhpCsFixer\Finder::create()
    ->in([
            __DIR__ . '/src',
            __DIR__ . '/tests'
    ])
    ->exclude('vendor');

return PhpCsFixer\Config::create()
    ->setUsingCache(false)
    ->setRules([
        '@PSR1' => true,
        '@PSR2' => true,
        '@PSR12' => true,
        'array_syntax' => ['syntax' => 'short'],
        'phpdoc_no_package' => false,
        'phpdoc_summary' => false,
        'phpdoc_align' => ['align' => 'left'],
        'phpdoc_separation' => false,
        'trailing_comma_in_multiline_array' => false,
    ])
    ->setFinder($finder);
